<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    
    <div class="register-page">

        <form class="register-container" method="post">


            <h2>Sign Up</h2>
            <p>Already have an account? <a href="/">Login Here.</a> </p>

            <div class="saperator-box">
                <div></div>
                <span >OR</span>
                <div></div>
            </div>

            <div class="form-component">
                <label for="">Your Email</label>
                <input type="text" name="email">
            </div>
            <div class="form-component">
                <label for="">Your Password</label>
                <input type="password" name="password">
            </div>
            <div class="form-component">
                <label for="">Confirm Password</label>
                <input type="password" name="confirm-password">
            </div>

            <button type="submit">Sign Up</button>
        </form>

        <div class="right-content">
            <h3>Welcome To</h3>
            <h1>
                Shopify!
            </h1>
        </div>

    </div>

</body>

</html>