<!-- view_cart.html -->

{% extends 'layout.html' %}

{% block content %}
  <div class="h-[90vh] p-10">
    <h2 class="text-2xl font-semibold mb-4">Shopping Cart</h2>

    <div id="cartContainer" class="flex flex-col gap-4 p-10">
      <!-- Cart items will be dynamically added here -->
    </div>
  </div>

  <script>
    
    document.addEventListener('DOMContentLoaded', function () {
          
        const data = '{{ cart_data | tojson | safe }}';
        let cartData = JSON.parse(data)
        renderCart(cartData);

    });

    function renderCart(cartData) {
  const cartContainer = document.getElementById('cartContainer');
  cartContainer.innerHTML = '';
  cartContainer.className="max-h-[70vh] h-[70vh] overflow-y-scroll flex flex-col gap-4"

  if (cartData.length === 0) {
    const emptyCartMessage = document.createElement('p');
    emptyCartMessage.textContent = 'Your cart is empty.';
    cartContainer.appendChild(emptyCartMessage);
    return;
  }

  cartData.forEach(item => {
    const cartItem = document.createElement('div');
    cartItem.className = 'flex gap-6 bg-zinc-200 p-4';

    // Left side with product image
    const leftSide = document.createElement('div');
    leftSide.className = 'bg-white h-[200px] p-4 mb-4 w-[30%]';
    leftSide.innerHTML = `
      <img src="${item.img}" alt="${item.name}" class="object-contain h-full w-full">
    `;
    cartItem.appendChild(leftSide);

    // Right side with product details
    const rightSide = document.createElement('div');
    rightSide.className = 'flex flex-col w-[70%]';
    rightSide.innerHTML = `
      <p class="text-3xl font-semibold">${item.brand}</p>
      <p class="text-md">${item.name}</p>
      
      <div class="bg-zinc-200 flex items-center gap-2 rounded-3xl  border-zinc-500 w-fit my-2">
        <div class="flex item-center gap-1 justify-center py-0">
          Ratings -${item.rating}
          <i class="bi bi-star-fill text-green-500"></i>
        </div>
        <div class="border-l-[1px] border-zinc-500 p-1 pl-4 py-0">
          ${item.reviews} Reviews
        </div>
      </div>
      
      <div class="my-2 h-[1px] bg-slate-400 w-full"></div>

      <p class="text-3xl font-semibold">₹ ${item.price}</p>
      <p class="font-semibold text-emerald-600 text-sm">(inclusive of all taxes)</p>
      
      
    `;
    cartItem.appendChild(rightSide);

    cartContainer.appendChild(cartItem);
  });
}

  </script>
{% endblock %}
